.sidebarThread {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid rgba(190,190,190, .1);
    color: white;
    cursor: pointer;
}
.sidebarThread:hover {
    background-color: rgba(2, 150, 199);
}
.sidebarThread.active{
    background-color: #2d4671;
}
.sidebarThread__details {
    margin-left: 15px;
    position: relative;
    width: 100%;
}
.sidebarThread__details h3{
    font-size: 16px;
}
.sidebarThread__details p{
    font-size: 12px;
}
.sidebarThread__details > .sidebarThread__timestamp{
    position: absolute;
    top: 5px;
    right: 0;
}