.thread {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.thread__header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(190,190, 190, .1);
}
.thread__header__contents {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 10px;
}
.thread__header__contents__info {
    margin-left: 15px;
}
.thread__header__contents__info h5 {
    font-weight: 500;
    color: gray;
}
.thread__header__details {
    color: white;
}
.thread__header__details:hover {
    color: rgba(2, 150, 199);
}
.thread__messages {
    flex: 1;
    overflow: scroll;
}
/*Pour Safari et chrome*/
.thread__messages::--webkit-scrollbar {
    display: none;
}
.thread__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border-top: 1px solid rgba(190, 190, 190, .1);
}
.thread__input > form {
    display: flex;
    flex-direction: row;
    flex: 1;

}
.thread__input > form > input {
    width: 70%;
    outline: none;
    border: none;
    border-radius: 999px;
    padding: 5px;
    background-color: #2d4671;
    color: white;
}

.thread__input > form > button {
    color: white;
}
.thread__input > form > button:hover {
    color: rgba(2, 150, 199);
}
